* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper {
    line-height: 100%;
    margin: auto;
}

body {
    font-family: "Noto Serif Georgian", serif;

    height: 100VH;
    background-color: rgb(255, 255, 255);
}

header {
    text-align: center;
    width: 100%;
    height: 20%;
   


}


h1 a{
    line-height: 1em;
    font-size: 90px;
    font-weight: 900;
    text-decoration: underline red;
    color: black;



}
h1{
    margin-bottom: 10px;
}

.col1 {height:170vh;

    border-top: 20px double black;
    border-right: 5px double black;
    ;border-bottom: 5px double black;;
    width: 15%;
    float: left;
    font-family: "Noto Serif Georgian", serif;
    background-color: #d2d6d6;
    padding: 1%;
    





}

.col1 h3 {
    text-decoration: underline red;
    line-height: 1em;
    text-align: left;
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: 900;
    width: 70%;
}

.col1 b {  background-color: #a7a99b;
    font-size: 17px;
    font-weight: 900;
    color: rgb(0, 0, 0);  line-height: 1em;
    margin-bottom: 2%;



}
.col1 p{
    margin-top: 2%;
}
main {
    border-top: 20px double black;
    display: flex;
    





}

.grid-container {
    width: 100%;
    display: inline-grid;
    grid-template-columns: auto auto auto ;
    color: black;
    margin-left: 2%;
    margin-right: 2%;


}



.grid1 {
    margin-top: 0;
    grid-template-columns: auto ;
    margin-left: 5%;



}

iframe{
    margin-top: 7%;
    margin-left: 7%;
    border: 10px double black;
 

}


.grid1 h2 {font-size: 40px;
    line-height: 1em;
           font-weight:bolder;

        
    margin-bottom: 10%;  text-decoration: underline red;


}

