*{
    margin: 0;
    padding: 0;
}
#wrapper{
    line-height: 100%;
    margin: auto;
}
body{font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: white;
    text-shadow: 5px 5px #282525;
}
.first {
    width: 100%;
    height: 350px;
   
}

.second {
    width: 100%;
    height: 350px;
 
}
.third {
    width: 100%;
    height: 1000px;  ;
   
}

.fourth {
    width: 100%;
    height: 1000px;}

 
#button2{text-decoration: none;
    background-color: hwb(116 11% 64%);
    width: 15%;
    line-height: 1em;
    text-shadow: rgb(0, 0, 0) 1px 0 10px;
    float: right;
    font-size: 25px;
    margin-top: 1%;
    font-weight: 900;
    text-transform: uppercase;
    padding: 10px 10px;
    border-radius: 50px;
    color: white;
    margin-right: 15%;
 
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(231, 231, 231, 0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
   
    transition-duration: 0.4s;
    
}
#button2:hover{box-shadow:rgb(243, 243, 243) 1px 0 10px;
    text-shadow: rgb(243, 243, 243) 1px 0 10px;
}


.cover{ background-color: #040615;
height:70vh;
text-align: left;
text-decoration: none;
padding-left: 4%;
width: 100%;
margin-top: 5%;
}

.cover p{font-size: 25px;
    width: 50%;
    line-height: 1em;
}
.cover p :hover{
    text-decoration:underline 1px red;
 
}

.cover h1{font-size: 110px;
    color: rgb(234, 233, 232);
    text-shadow: 5px 5px #282525;
    margin-top: 3%; 
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
margin-bottom: 2%;
width: 100%;
text-decoration: none;
border-bottom:double 8px red;
    line-height:1em ;

}
.cover a{
    text-decoration: none;
}



    .planet-container {
        border-radius: 50%;
        box-shadow: 5px -3px 10px 3px #5e90f1;
        height: 500px;
        overflow: hidden;
        position: relative;
        width: 500px;
        z-index: 1;
        float: right;
        display: flex;
        margin-right: 5% ;
    
        
       
    }
    .night {
        animation: rotate-night 80s linear infinite;
        background-image: url(https://www.solarsystemscope.com/textures/download/2k_earth_nightmap.jpg);
        background-size: 200%;
        height: 500px;
        position: absolute;
        width: 500px;
        z-index: 2;
        display: flex;
    }
    .day {
        animation: rotate-day 80s linear infinite;
        background-image: url(https://www.solarsystemscope.com/textures/download/2k_earth_daymap.jpg);
        background-size: 200%;
        border-left: solid 1px black;
        border-radius: 50%;
        box-shadow: 5px 0 20px 10px #040615 inset; 
        height: 500px;
        margin-left: 110px;
        position: absolute;
        width: 500px;
        z-index: 3;
    }
    .clouds {
        animation: rotate-day 50s linear infinite, spin-clouds 100s ease infinite;
        background-image: url(https://www.solarsystemscope.com/textures/download/2k_earth_clouds.jpg);
        background-size: 200%;
        border-radius: 50%;    
        box-shadow: 5px 0 20px 10px #040615 inset, -9px 0px 20px 10px #5e90f1 inset;
        height: 500px;
        margin-left: 100px;
        opacity: 0.45;
        position: absolute;
        width: 500px;
        z-index: 4;
    }
    .inner-shadow {
        background: transparent;
        border-radius: 50%;
        box-shadow: -5px 0 10px 1px #152b57 inset, 5px 0 10px 1px #040615 inset;
        height: 500px;
        margin-left: 0;
        position: absolute;
        width: 500px;
        z-index: 5;
    }
    
    @keyframes rotate-day {
        0% { background-position: 120% 0; }
        100% { background-position: -80% 0; }
    }
    @keyframes rotate-night {
        0% { background-position: calc(120% + 120px) 0; }
        100% { background-position: calc(-80% + 120px) 0; }
    }
    @keyframes spin-clouds {
        0% { transform: rotate(0deg); }
        50% { transform: rotate(20deg); }
        100% { transform: rotate(0deg); }
    }
    

      button {text-decoration: none;
        background-color: hwb(116 11% 64%);
        width: 20%;
        text-shadow: rgb(0, 0, 0) 1px 0 10px;
        margin-top: 2%;
        font-size: 25px;
        font-weight: 900;
        text-transform: uppercase;
        padding: 30px 30px;
        border-radius: 50px;
        color: white;
        margin-right: 50%;
        margin-left: 1%;
        text-align: center;
        box-shadow: 0 8px 16px 0 rgba(231, 231, 231, 0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
       
        transition-duration: 0.4s;
     }
     
     button:hover{box-shadow:rgb(243, 243, 243) 1px 0 10px;
        text-shadow: rgb(243, 243, 243) 1px 0 10px;
    }

     
   button a{
        color: white;
        text-decoration: none;
     }

    button:active{
        background-color: white;
        box-shadow: 0 8px 16px 0 rgba(255, 252, 252, 0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }
   
    
.ocean{width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;

    margin-top: 10%;
    height: 90vh;
}

.ocean iframe{
margin-left: 10%;
    margin-top: 1%;
    border:solid 15px white;
   
  
    
}
section{margin-top: 5%;

    text-align: left;
    font-size: 20px
    ;
    line-height: 1em;

    display:inline-block ;

}
.ocean h3{
 
    margin-top: 2%;
    margin-left: 1%;
color:rgb(226, 226, 232);
line-height: 1em;
width: 30%;

   
    font-size: 24px;


   


}
.bandp{ margin-top:1%;
    margin-left: 5%;
    font-size: 30px;
    display: flex;

 
    text-shadow: 1px 1px #282525;
  
    font-size: 20px;
    margin-bottom: .4%;
}


#before{font-weight: 900;
padding-right: 26%;
    
color: rgb(45, 122, 255);}
#after{font-weight: 900;

    color: red;
}

.ocean-text{width: 35%;
    margin-top: 0 auto;
font-weight: 900;
    float: right;
    padding-left: 2%;
    margin-right: 2%;
    background-color: #434035;
    font-size: 25px;
    line-height: 1em;
    margin-bottom: 5%;
    padding-bottom: 2%;
    padding-top: 2%;
}


.ocean h2{   
    background-color: rgb(122, 0, 0);
     font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 5%;
   font-size: 76px;
   font-weight: 900;


    color:rgb(255, 255, 255);

}

    

      .img-comp-container {
        margin-left: 2%;
        position: relative;
        height: 500px; /*should be the same height as the images*/
       
        border:solid 9px white;
        width: 800px;
      }
      .img-comp-container p{
        margin-top: 3%;
        width:90%;

      }
      
      .img-comp-img {
        position: absolute;
        width: auto;
        height: auto;
        overflow: hidden;
      }
      
      .img-comp-img img {
        display: block;
        vertical-align: middle;
      }
      
      .img-comp-slider {
        position: absolute;

        z-index: 9;
        cursor: ew-resize;
        /*set the appearance of the slider:*/
        width: 40px;
        border-style:groove 9px white;
        height: 40px;
        background-color: #ba1313;
        opacity: 0.7;
        border-radius: 50%;
      }
       
 
